{% extends 'base.html' %}
{% load core_extra %}

{% block content %}
    <section class="container descricao">
    <h1>Projeto Timeline Larhud</h1>
    <p>O projeto Timeline Larhud/IBICT é uma plataforma (ferramenta) produzida no âmbito do Larhud que se propõe a construir e hospedar linhas do tempo (timelines) sobre qualquer temática, pessoa ou instituição, permitindo assim a visualização de um ou mais fatos históricos que se tornam recuperáveis a partir de notícias da mídia ou de outras fontes verificadas que são coletadas pelo pesquisador responsável e armazenadas/arquivadas no sistema da Timeline.</p>
    <p>Dessa forma, o usuário consegue navegar não só pela linha do tempo, escolhendo um recorte temporal ou temático específico dentro da coleção que compõe aquela timeline a partir de um recurso de busca simples e avançado, como também visualizar quais os termos mais utilizados durante o intervalo pesquisado na forma de nuvem de palavras.</p>
    </section>
    <section class="filtro">
            <div class="container">
                  <p style="margin-bottom: 10px">Atualmente temos os seguintes projetos em desenvolvimento:</p>
                  {% termos as dataset %}
                  {% for termo in dataset %}
                  <div class="form">
                      <a class="btn btn-primary" style="min-width: 150px; margin-bottom: 10px" href="/timeline/{{ termo.slug }}/">{{ termo.termo }}</a>
                  </div>
                  {% endfor %}
            </div>
    </section>
{% endblock %}
