{% extends 'base.html' %}
{% load static %}

{% block title %}LARHUD ibict - Timeline {{ object|capfirst }}{% endblock %}
{% block styles %}
<link rel="stylesheet" href="{% static 'site/css/crono-cloud.css' %}">

{% endblock %}
{% block content %}
<section class="container descricao">
    {% block termo_descricao %}
    <h1>Header</h1>
    <p>Descrição do Projeto</p>
    {% endblock %}
</section>
<section class="filtro">
    <div class="container">


        <form id="form-busca">
            <label for="busca">Filtrar por:</label>
            <div class="form row">
                <div class="col-md-10 position-relative">
                    <input type="text" name="busca" class="form-control" placeholder="Busca" id="busca"
                        style="padding-left: 44px;"> <!-- Ajustado o padding-left -->
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"
                        style="position:absolute; left:20px; top:50%; transform:translateY(-50%); z-index:10;"
                        aria-hidden="true">
                        <path fill-rule="evenodd" clip-rule="evenodd"
                            d="M11.6115 2C6.30323 2 2 6.20819 2 11.3993C2 16.5903 6.30323 20.7985 11.6115 20.7985C13.8819 20.7985 15.9684 20.0287 17.613 18.7415L20.7371 21.7886L20.8202 21.8586C21.1102 22.0685 21.5214 22.0446 21.7839 21.7873C22.0726 21.5043 22.072 21.0459 21.7825 20.7636L18.6952 17.7523C20.2649 16.0794 21.2231 13.8487 21.2231 11.3993C21.2231 6.20819 16.9198 2 11.6115 2ZM11.6115 3.44774C16.1022 3.44774 19.7426 7.00776 19.7426 11.3993C19.7426 15.7908 16.1022 19.3508 11.6115 19.3508C7.12086 19.3508 3.48044 15.7908 3.48044 11.3993C3.48044 7.00776 7.12086 3.44774 11.6115 3.44774Z"
                            fill="#11142D" />
                    </svg>
                </div>
                <div class="col-md-2">
                    <button id="btn-busca" class="btn btn-primary w-100 h-100">Buscar</button>
                </div>
            </div>
            <input type="hidden" name="ano_mes_0" id="ano-busca">
            <input type="hidden" name="ano_mes_1" id="mes-busca">
            {% block hidden_inputs %}
            {% endblock %}
            <div id="busca-avancada" class="">
                <div class="collapse show" id="collapseExample">
                    <div class="row mt-1 d-flex align-items-center">


                        <div class="col-md-5">
                            <input type="text" id="dataFiltro" class="form-control" name="datafiltro"
                                placeholder="Busca por data">
                        </div>

                        <div class="col-md-5 position-relative">
                            <input type="text" name="veiculo" placeholder="Veículo de Comunicação" id="btn-fonte"
                                class="form-control">
                            <button type="button" class="btn btn-primary position-absolute top-0 end-0 btn-tabela"
                                style="height: 100%; border-top-left-radius: 0; border-bottom-left-radius: 0;"
                                data-bs-toggle="collapse" href="#collapseFonte" role="button" aria-expanded="false"
                                aria-controls="collapseFonte" data-bs-toggle="tooltip" data-bs-placement="bottom"
                                title="Clique para visualizar os veículos existentes">
                                <svg width="20" height="20" viewBox="0 0 20 20" fill="none"
                                    xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                                    <rect x="2" y="3" width="16" height="14" stroke="currentColor" stroke-width="2">
                                    </rect>
                                    <line x1="2" y1="7" x2="18" y2="7" stroke="currentColor" stroke-width="2"></line>
                                    <line x1="6" y1="3" x2="6" y2="17" stroke="currentColor" stroke-width="2"></line>
                                </svg>
                            </button>
                        </div>

                        <div class="col-md-1 d-flex justify-content-end">
                            <a id="cronocloud" href="#" class="btn btn-primary w-100 mt-1 mb-1" title="Nuvem Temporal"
                                role="button">
                                <svg width="20" height="20" viewBox="0 0 24 24" fill="currentColor"
                                    xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                                    <path
                                        d="M19.35 10.04C18.67 6.59 15.64 4 12 4 9.11 4 6.6 5.64 5.35 8.04 2.34 8.36 0 10.91 0 14c0 3.31 2.69 6 6 6h13c2.76 0 5-2.24 5-5 0-2.64-2.05-4.78-4.65-4.96z" />
                                </svg>
                            </a>
                        </div>

                        <div class="col-md-1 d-flex justify-content-end">
                            <button class="btn btn-primary w-100 mt-1 mb-1" id="btn-download" data-bs-toggle="tooltip"
                                data-bs-placement="bottom" data-bs-html="true"
                                title="Download <p>Baixe o dataset com os resultados da pesquisa realizada.</p>">
                                <svg width="23" height="24" viewBox="0 0 23 24" fill="currentColor"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path d="M11.8643 4.5V15.5" stroke="#FFFFFF" stroke-width="2" stroke-linecap="round"
                                        stroke-linejoin="round" />
                                    <path d="M16.6102 10.5L11.8644 15.5L7.11865 10.5" stroke="#FFFFFF" stroke-width="2"
                                        stroke-linecap="round" stroke-linejoin="round" />
                                    <path d="M18.5085 19.5H5.22034" stroke="#FFFFFF" stroke-width="2"
                                        stroke-linecap="round" stroke-linejoin="round" />
                                </svg>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </form>


        <div id="fontes-noticia">
            <div class="collapse borda p-3" id="collapseFonte">
                <div class="row" id="lista-de-fontes"></div>
                <ul class="pagination" style="margin-top:20px; margin-bottom:0px;" id="paginas"></ul>
            </div>
        </div>
    </div>
    </div>
</section>

<section class="meses">
    <div class="container invisible" id="container-ano-mes">
        <div class="esquerda d-none d-sm-block">
            <a href="#" class="anterior"><svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                    xmlns="http://www.w3.org/2000/svg">
                    <path d="M9.57 5.92999L3.5 12L9.57 18.07" stroke="#B2B3BD" stroke-width="1.5" stroke-miterlimit="10"
                        stroke-linecap="round" stroke-linejoin="round" />
                    <path d="M20.5 12H3.67001" stroke="#B2B3BD" stroke-width="1.5" stroke-miterlimit="10"
                        stroke-linecap="round" stroke-linejoin="round" />
                </svg>
                <span id="mesAnterior"></span>
            </a>
        </div>
        <div class="centro">
            <div class="mes">
                <h2 id="mesAtual"></h2>
                <a href="#" id="dropDownMes" data-bs-toggle="dropdown" aria-expanded="false">

                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M9 22H15C20 22 22 20 22 15V9C22 4 20 2 15 2H9C4 2 2 4 2 9V15C2 20 4 22 9 22Z"
                            stroke="#244CB2" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                        <path d="M8.46997 10.64L12 14.16L15.53 10.64" stroke="#244CB2" stroke-width="1.5"
                            stroke-linecap="round" stroke-linejoin="round" />
                    </svg>
                </a>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropDownMes">
                    <li><button class="dropdown-item" onclick="selecionaMesEBusca(0)" type="button">Janeiro</button>
                    </li>
                    <li><button class="dropdown-item" onclick="selecionaMesEBusca(1)" type="button">Fevereiro</button>
                    </li>
                    <li><button class="dropdown-item" onclick="selecionaMesEBusca(2)" type="button">Março</button></li>
                    <li><button class="dropdown-item" onclick="selecionaMesEBusca(3)" type="button">Abril</button></li>
                    <li><button class="dropdown-item" onclick="selecionaMesEBusca(4)" type="button">Maio</button></li>
                    <li><button class="dropdown-item" onclick="selecionaMesEBusca(5)" type="button">Junho</button></li>
                    <li><button class="dropdown-item" onclick="selecionaMesEBusca(6)" type="button">Julho</button></li>
                    <li><button class="dropdown-item" onclick="selecionaMesEBusca(7)" type="button">Agosto</button></li>
                    <li><button class="dropdown-item" onclick="selecionaMesEBusca(8)" type="button">Setembro</button>
                    </li>
                    <li><button class="dropdown-item" onclick="selecionaMesEBusca(9)" type="button">Outubro</button>
                    </li>
                    <li><button class="dropdown-item" onclick="selecionaMesEBusca(10)" type="button">Novembro</button>
                    </li>
                    <li><button class="dropdown-item" onclick="selecionaMesEBusca(11)" type="button">Dezembro</button>
                    </li>
                </ul>
            </div>
            <div class="ano">
                <h2 id="anoSelecionado"></h2>
                <a href="#" id="dropDownAno" data-bs-toggle="dropdown" aria-expanded="false"><svg width="24" height="24"
                        viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M9 22H15C20 22 22 20 22 15V9C22 4 20 2 15 2H9C4 2 2 4 2 9V15C2 20 4 22 9 22Z"
                            stroke="#244CB2" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                        <path d="M8.46997 10.64L12 14.16L15.53 10.64" stroke="#244CB2" stroke-width="1.5"
                            stroke-linecap="round" stroke-linejoin="round" />
                    </svg></a>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropDownAno" id="ul-ano"></ul>
            </div>
        </div>
        <div class="direita d-none d-sm-block">
            <a href="#" class="proximo">
                <span id="mesProximo"></span>
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M14.4301 5.92999L20.5001 12L14.4301 18.07" stroke="#292D32" stroke-width="1.5"
                        stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
                    <path d="M3.5 12H20.33" stroke="#292D32" stroke-width="1.5" stroke-miterlimit="10"
                        stroke-linecap="round" stroke-linejoin="round" />
                </svg>
            </a>
        </div>
    </div>

</section>
<section class="timeline" id="timeline-section">
    <link title="timeline-styles" rel="stylesheet" href="{{ STATIC_URL }}css/timeline.css">
    <script src="{{ STATIC_URL }}js/timeline.js"></script>
    <div id='timeline-embed' class='tl-timeline' style="width: 100%; height: 600px"></div>
    <!-- iframe frameborder="0"
                src="https://cdn.knightlab.com/libs/timeline3/latest/embed/index.html?source=1xuY4upIooEeszZ_lCmeNx24eSFWe0rHe9ZdqH2xqVNk&amp;font=Default&amp;lang=en&amp;initial_zoom=2&amp;height=100%"
                height="700px" width="100%"></iframe -->
</section>
<div class="d-flex justify-content-center align-items-center">
    <section class="nuvem" id="nuvem-section" style="display: none;">
        <div class="container d-flex justify-content-center">
            <div id="palavras"></div>
        </div>
    </section>
    <section id="crono-nuvem-section" style="display: none;">
        <div class="container d-flex justify-content-center">
            <table class="table">
                <thead>
                    <tr id="tableHeaders">

                    </tr>
                </thead>
                <tbody id="tableBody">
                </tbody>
            </table>
        </div>
    </section>
</div>
{% endblock %}

{% block js %}
{{ block.super }}
<script src="{{ STATIC_URL }}site/js/jqcloud.min.js"></script>
<script type="text/javascript">
    window.url_pesquisa = "{% url 'pesquisa' %}";
    window.url_nuvem_de_palavras = "{% url 'nuvem_de_palavras' %}";
    window.url_lista_de_fontes = "{% url 'lista_de_fontes' object.id %}"
</script>
<script src="{{ STATIC_URL }}site/js/main.js"></script>
<script src="{{ STATIC_URL }}site/js/lista-de-fontes.js"></script>
{% endblock %}